
html, body, section, main, div, h1, h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.filler {
    border: 1px solid black;
    width: 700px;
    height: 660px;
    display: flex;
    z-index: -1;
    position: absolute;

    background-color: brown;
}

.fundo {
    width: 700px;
    height: 660px;
    display: flex;
    border: 1px solid black;

}

.coluna {
    display: flex;
    flex-direction: column-reverse;
    margin: 2px;
    height: 100%;
    width: 100px;
    /* background-color: brown; */
    /* z-index: ; */
}
 
.colunafiller {
    display: flex;
    flex-direction: column-reverse;
    margin: 2px;
    height: 100%;
    width: 100px;
    
}

.disco {
    background-color: rgb(4, 0, 255);
    width: 100px;
    height: 100px;
}

.circulofiller{
    margin: 0 auto;
    height: 100px;
    width: 90%;
    background-color: burlywood;
    border: 1px dotted brown;
    border-radius: 50%;
}









.P1{
    background-color: black;
}
.P2{
    background-color: blanchedalmond;
}
