
html, body, section, main, div, h1, h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #30294f;
}

#main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.tela-resultado {
    position: absolute;
    z-index: 1;
    background-color: rgb(60 59 61 / 88%);
    height: 100%;
    width: 100%;
}

.vitoria {
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 55vh;
    width: 60vw;
    color: burlywood;
    background-color: #251d4b;
    z-index: 2;
    margin: 0 auto;
    border: 2px solid #8805ff;
    border-radius: 50px;
}

.empate {
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 500px;
    color: burlywood;
    background-color: #251d4b;
    z-index: 2;
    margin: 0 auto;
    border: 2px solid #8805ff;
    border-radius: 50px;
    display: flex;
}

.fundoStart {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #211a41;
    position: absolute;
    display: flex;
}

.hidden {
    display: none;
}

.fundoStart .nomeJogo {
    font-size: 4rem;
    color: #ecedf1;
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

#info-do-jogo {
    height: 150px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    background-color: rgb(80, 80, 105);
    margin: 10px auto;
}

#contadordejogadas::before {
    content: "Numero de jogadas";
    font-size: 2rem;
}

#turno {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#turno::before {
    content: "Turno atual";
    font-size: 2rem;
    color: bisque;
}

#turno > .P1::before {
    content: "Player 1";
    color: bisque;
    margin-left: -70px;
}

#turno > .P2::before {
    content: "Player 2";
    color: bisque;
    margin-left: -70px;
}

#contadordejogadas {
    font-size: 3rem;
    color: bisque;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.filler {
    width: 700px;
    height: 610px;
    display: flex;
    position: absolute;
    background-color: #30294f;
    z-index: -1;
}

.fundo {
    width: 700px;
    height: 610px;
    display: flex;
}

.coluna {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100px;
}

.coluna:hover {
    cursor: pointer;
    background-color: rgb(68 74 162 / 14%);
}
 
.colunafiller {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100px;
}

.disco {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circulofiller {
    margin: 0 auto;
    height: 100px;
    width: 100%;
    background-color: rgb(20 17 60 / 21%);
    border: 10px double rgb(223 223 223 / 4%);
    border-radius: 40px 40px 40px 40px;
}

.P1 {
    background-color: #ff1a1a;
    border: 10px double rgb(212 8 46 / 65%);
    border-radius: 40px 40px 40px 40px;
}

.P2 {
    background-color: #dda213;
    border: 10px double rgb(212 55 8 / 22%);
    border-radius: 40px 40px 40px 40px;
}

#botoes {
    display: flex;
    justify-content: center;
}

.botao-start {
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: #2e2168;
    cursor: pointer;
    color: #fff8dc;
    font-size: 1rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botao-start:hover {
    background-color: #3b2f72;
    border: 1px solid rgba(250, 250, 250, 0.562);
}


.botao-reset {
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: #0a7573;
    cursor: pointer;
    color: #fff8dc;
    font-size: 1rem;
}

.botao-reset:hover {
    background-color: #07615f;
    border: 1px solid rgba(250, 250, 250, 0.562);
}

.botaoJogarNovamente {
    height: 5vh;
    width: 25vw;
    border: none;
    border-radius: 5px;
    background-color: #085659;
    cursor: pointer;
    color: #92f9b2;
    font-size: 1rem;
    z-index: 2;
    position: absolute;
    margin-top: -50px;
    border: 1px solid #27e9ab;
}

.botaoJogarNovamente:hover {
    background-color: #0c6f72;
    color: #ffffff;
}

#creditos {
    height: 100px;
    width: 700px;
    background-color: rgb(80, 80, 105);
    margin: 0 auto;
}

 
.coluna > .disco{
    animation-name: queda;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-direction: reverse;
  }


  @keyframes queda {
    from {transform: translate(0px,0px)}
    to {transform: translate(0px, -700px)}
  }


@media screen and (max-width: 750px) {
    
    #info-do-jogo {
        width: 600px;
        height: 120px;
        margin: 10px;
        align-items: center;
        margin: 10px auto;
    }

    #turno {
        width: 150px;
        height: 110px;
        align-items: center;
    }

    #turno::before {
        font-size: 1.1rem;
    }

    #turno > .P1::before {
        font-size: 1rem;
        margin-left: -70px
    }

    #turno > .P2::before{
        font-size: 1rem;
        margin-left: -70px;
    }
    #contadordejogadas {
        font-size: 2.5rem;
        height: 80px;
    }

    #contadordejogadas::before {
        font-size: 1rem;
    }

    .filler {
        width: 600px;
        height: 560px;
    }

    .circulofiller {
        height: 90px;
    }

    .fundo {
        width: 600px;
        height: 560px;
    }
    .disco {
        width: 83px;
        height: 90px;
    }

    .botao-start {
        top: 70%;
    }
}

@media screen and (max-width: 600px) {
    
    #info-do-jogo {
        width: 300px;
        height: 90px;
        margin: 10px;
        align-items: center;
        margin: 10px auto;
    }

    #turno {
        width: 150px;
        height: 80px;
        align-items: center;
    }

    #turno::before {
        font-size: .9rem;
    }

    #turno > .P1::before {
        font-size: .8rem;
        margin-left: -60px;
    }

    #turno > .P2::before{
        font-size: .8rem;
        margin-left: -60px;
    }

    #contadordejogadas {
        font-size: 1.9rem;
        height: 80px;
    }

    #contadordejogadas::before {
        font-size: 1rem;
    }

    .filler {
        width: 300px;
        height: 360px;
    }

    .colunafiller {
        width: 50px;
    }

    .circulofiller {
        height: 50px;
    }

    .fundo {
        width: 300px;
        height: 360px;
    }

    .fundoStart .nomeJogo {
        font-size: 3rem;
    }

    .vitoria {
        font-size: 2rem;
        height: 45vh;
        width: 80vw;
    }

    .empate {
        font-size: 2rem;
        height: 55vh;
        width: 80vw;
    }

    .disco {
        width: 43px;
        height: 50px;
    }

    .botao-start {
        top: 70%;
    }

    .botaoJogarNovamente {
        margin-top: 50px;
    }
}