.coluna{
    height: 200px;
    width: 30px;
    background-color: blue;
    margin-bottom: 20px;
    
}
/* 
criar bolas branca (fundo)
*/

.fundo {
    background-color: rgb(236, 236, 236);
    width: 700px;
    height: 600px;
    display: flex;
}

.coluna {
    display: flex;
    flex-direction: column-reverse;
    margin: 5px;
    height: 100%;
    width: 100px;
    background-color: brown;
}

.disco {
    margin: 0 auto;
    border-radius: 50%;
    width: 90%;
    height: 100px;
}
.P1{
    background-color: black;
}
.P2{
    background-color: blanchedalmond;
}