
html, body, section, main, div, h1, h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #30294f;
}

#main {
    display: flex;
    justify-content: center;
}

.tela-resultado {
    position: absolute;
    z-index: 1;
    background-color: blueviolet;
    height: 100%;
    width: 100%;
}

.vitoria {

}

.empate {

}

.fundoStart {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #241379;
    position: absolute;
    display: flex;
}

.hidden {
    visibility: hidden;
}

.fundoStart .nomeJogo {
    font-size: 4rem;
    color: #ecedf1;
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

#info-do-jogo {
    height: 100px;
    width: 700px;
    background-color: rgb(80, 80, 105);
    margin: 10px auto;
}

.filler {
    width: 700px;
    height: 660px;
    display: flex;
    position: absolute;
    background-color: #241379;
    z-index: -1;
}

.fundo {
    width: 700px;
    height: 660px;
    display: flex;
}

.coluna {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100px;
}

.coluna:hover {
    cursor: pointer;
    background-color: rgb(68 74 162 / 34%);
}
 
.colunafiller {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100px;
}

.disco {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circulofiller {
    margin: 0 auto;
    height: 100px;
    width: 100%;
    border: 2px solid #607D8B;
    background-color: rgb(68 74 162 / 84%);
    border-radius: 50%;
}

.P1 {
    background-color: #ff1a1a;
}
.P2 {
    background-color: #dda213;
}

.botao-start {
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: #2e43b5;
    cursor: pointer;
    color: cornsilk;
    font-size: 1rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botao-start:hover {
    background-color: #233ab9;
}

.botao-reset {
    display: flex;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color:#211a41;
    cursor: pointer;
    color: cornsilk;
    font-size: 1rem;
}

.botao-reset:hover {
    background-color: #233ab9;
}

#creditos {
    height: 100px;
    width: 700px;
    background-color: rgb(80, 80, 105);
    margin: 0 auto;
}